.ppText {
    margin: 0 auto;
    width: 85%;
    margin-top: -5px;
}

#ppvid {
    border: 5px solid rgb(35, 25, 114);
    border-radius: 20px;
    margin-top: -4px;
    margin-bottom: 20px;
}

#ppimg {
    border: 3px solid rgb(35, 25, 114);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-height:3000px;
    max-width:3000px;
    object-fit: cover;
    width: 60%;
    height: calc(60vw * 0.5625);
}

#pptitle {
    margin-top: 5px;
    margin-bottom: -10px;
}