.ppText {
    margin: 0 auto;
    width: 85%;
    margin-top: 2px;
}

#ppvid {
    border: 5px solid rgb(35, 25, 114);
    border-radius: 20px;
    margin-top: -2px;
    margin-bottom: 20px;
}

.image {
    border: 3px solid rgb(35, 25, 114);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
    max-height: 200px;
    max-width: 300px;
    object-fit: cover;
    width: 60%;
    height: calc(60vw * 0.5625);
    transition: all 0.35s ease;
}

.image:hover {
    transform: scale(1.05);
    filter: brightness(80%);
}

#pptitle {
    margin-top: 20px;
    margin-bottom: -10px;
}

.owl-item {
    display: inline-block;
}
.imagediv {
    display: inline;
}

.templatelinks {
    margin-bottom: -1px;
}

.templatelinks:link {
    color: rgb(0,81,181);
}

.templatelinks:visited {
    color: rgb(0,81,181);
}

.templatelinks:hover {
    color: gray;
}
