@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body {
    background-image: linear-gradient(to right, lightgray , white);
    color: black;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 3.5vw;
}

#back {
    position:absolute;
    top:0;
    left:0;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color:white;
    
}
#back:hover {
    cursor:pointer;
    background-color: #ddd;
    color: black;
}
#background {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),url('../resources/cherryblossom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  
input {
    margin-top: 25px;
}

label {
    font-size: 30px;
}
