@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body {
    background-image: linear-gradient(to right, lightgray , white);
    color: black;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 3.5vw;
}

#back {
    position:absolute;
    top:0;
    left:0;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color:white;
    
}
#back:hover {
    cursor:pointer;
    background-color: #ddd;
    color: black;
}


input {
    margin-top: 25px;
}

label {
    font-size: 30px;
}

#after {
    content: "";
    background: url("../resources/cherryblossom1.jpg");
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
#after2 {
    content: "";
    background: url("../resources/cherryblossom1.jpg");
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* #after1.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#after2.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} */