body{
    background-color: black;
    color: white;
    font-family: "Lucida Handwriting", Cursive;
    text-align: center;
}

a:link {
    color: red;
}

a:visited {
    color: orange;
}

a:hover {
    color: yellow;
}

.box {
    background-color: white;
    margin-top: 100px;
    width: 300px;
    margin: auto;
}

p1 {
    color: black;
}

